body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/* my style */

/* top-bar */
.top-bar {
    text-align: right;
}
.top-bar table {
    width: 100%;
}
.top-bar th:first-child {
    padding-right: 100px;
    color: skyblue;
}
.album {
    text-align: left;
    color: black;
}
.top-bar td {
    padding-right: 10px;
}

/* top */
.top {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px 30px;
    padding-right: 20px;
    margin: 0 10px;
    position: relative;
}
.top p {
    float: left;
}
.top img {
    width: 50px;
    height: 50px;
    float: right;
    padding-right: 0px;
    margin-right: 5px;
}
.top svg {
    float: right;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    top: 18px;
}

/* bottom */
.bottom {
    margin-left: 10px;
}
.bottom p {
    padding-left: 10px;
}
.bottom img {
    height: 120px;
    width: 120px;
}

/* media */
@media (max-width: 1000px) {
    * {
        font-size: 11px;
    }
    h1 {
        font-size: 20px;
    }
    .top-bar svg {
        color: black;
    }
    .top {
        margin-right: 10px;
        margin-left: 10px;
        padding: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }
    .top p {
        padding-top: 10px;
    }
    .top img {
        width: 30px;
        height: 30px;
        margin-top: 10px;
        padding-left: 0;
    }
    .top svg {
        top: 13px;
    }
    .bottom {
        margin-left: 0;
    }
    .bottom img {
        width: 90px;
        height: 90px;
    }
}
